* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    background-color: var(--color-background-main);
    color: var(--color-text-main);
    font-size: 16px;
    line-height: 1.5;
}

hr {
    border: 0 none;
    border-top: 1px solid var(--color-border-main);
}

.text-muted {
    color: var(--color-text-muted);
}

.text-success {
    color: var(--color-text-success);
}

.text-danger {
    color: var(--color-text-danger);
}
